click
Flask==2.2.2
Flask-Login
flask-mongoengine==1.0.0
mongoengine==0.24.0
pymongo<4.0.0  # Add version constraint
Flask-WTF
itsdangerous
Jinja2==3.0.0
MarkupSafe
six
Werkzeug==2.2.2
WTForms==2.3.3
email_validator
flask-debugtoolbar==0.11.0 
Flask-CORS
flask-httpauth
python-dotenv
pytest
selenium
gunicorn
locust